<div class="container">
    <div class="top-content">
        <div class="container-fluid">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    
    
        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 " *ngFor="let imagen of Imagenes; let indexOfelement=index;" [ngClass]="indexOfelement === 0 ? 'active' : ''"> 
            <img [src]="imagen.url" class="img-fluid mx-auto d-block" alt="">
        </div>
    
                </div>
                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div> 
</div>
<div class="row pt-3 m-auto">

    <div class="col-md-4 col-lg-2 pb-3"  *ngFor="let imagen of Imagenes;">
        <div class="card card-custom bg-white border-white border-0">
            <div class="card-body">
            <div class="img-move-wrapper">
                <img class="img-move img-move-4 img-fluid" src="https://i.pinimg.com/originals/8b/da/ca/8bdaca81d5ddbaeb92b61d6b5787d866.jpg" alt="foto 4"> 
                <img class="img-move img-move-3 img-fluid" src="https://i.pinimg.com/originals/8b/da/ca/8bdaca81d5ddbaeb92b61d6b5787d866.jpg" alt="foto 3"> 
                <img class="img-move img-move-2 img-fluid" src="https://i.pinimg.com/originals/8b/da/ca/8bdaca81d5ddbaeb92b61d6b5787d866.jpg" alt="foto 2">
                <img class="img-move img-move-1 img-fluid" src="https://i.pinimg.com/originals/8b/da/ca/8bdaca81d5ddbaeb92b61d6b5787d866.jpg" alt="foto 1">  
                <img class="img-fluid invisible d-none d-md-block" src="https://firebasestorage.googleapis.com/v0/b/login-app-c35c9.appspot.com/o/img%2F1366_2000.jpg?alt=media&token=50780cc2-313e-4cd0-b994-6c5dd99ae263" alt="foto ficticia">
            </div>
            <p class="h5 text-center pt-3">See the card on GitHub:</p>
        </div>
    </div>
    </div>
    

</div>

<script>
    $('#carousel-example').on('slide.bs.carousel', function (e) {
      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var totalItems = Imagenes.length;
   
      if (idx >= totalItems-(itemsPerSlide-1)) { 
          for (var i=0; i<it; i++) {
              if (e.direction=="left") {
                  $('.carousel-item').eq(i).appendTo('.carousel-inner');
              }
              else {
                  $('.carousel-item').eq(0).appendTo('.carousel-inner');
              }
          }
      }
  });
</script>