<div class="mat-elevation-z6" _nghost-uri-c1="" >
  <nav _ngcontent-uri-c1="" class="docs-navbar-header">
    <div class="mat-tab-link-container"  >
      <mat-tab-group>
      <mat-tab >
        <ng-template mat-tab-label >
            <button mat-icon-button (click)="Inicio()" >
              <mat-icon >home</mat-icon> inico
            </button>
        </ng-template>
      </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
              <button mat-icon-button (click)="Carga()">
                  <mat-icon>add_circle</mat-icon> Subir
              </button>
          </ng-template>
      </mat-tab>
      </mat-tab-group>
      
    </div>
  </nav>
</div>


<router-outlet></router-outlet>
