.mat-tab-group{
    height: 50px;
}

.mat-tab-group {
    background-color: #673ab7;
  }

  /* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
color:#ffffff;
background-color: #6f29f0;
}

/* ink bar */
::ng-deep .mat-ink-bar {
background-color: var(--primary-color,#ffffff) !important;
}

.mat-tab-label.mat-tab-link {
    color:#ffffff!important;
}