<div class="container">   
    <div class="row " >
        <div class="col-md-4">
            <div class="dropdown dropdownPersonal" >
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" >
                    {{NombreAlbun}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                    <a class="dropdown-item" (click)="TextoAlbun('Seleciona un albun')">Seleciona un albun</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="TextoAlbun(archivo.Nombre)" *ngFor="let archivo of Albunes">{{archivo.Nombre}}</a>
                </div>
            </div> 
            <div appNgDropFilesDirective  [fileArchivoInput]= "FileArchivo" (mouseSobre)="ImagenElemento = $event" 
                [ngClass]="{'colorbordehover': ImagenElemento, 'colorborde': !ImagenElemento}">
                <h4> Deje caer aquí los archivos </h4>
                <img class="imagencarga" src="../../../assets/imagenes/tipos-de-archivos-de-imagen.png">
            </div>
            <br>
            <div class="divbotons">
                <button class="btn btn-success botonmarginright" (click)="CargarGuardadoImagenes()" [disabled]="FileArchivo.length === 0"> Cargar a Firebase </button>
                <button class="btn btn-danger" (click)="LimpiarImagenes()" [disabled]="FileArchivo.length === 0"> Limpiar </button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <div class="container" >
                    <div class="row" *ngFor="let archivo of FileArchivo; index as i" >
                        <div class="col-3"> <img  [src]="archivo.temurl" class="rounded mb-3" width="170"> </div>
                        <div class="col"> 
                            <h6> {{archivo.nombreArchivo}} </h6> 
                            <div class="progress"> 
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%' }"></div> 
                            </div>
                            <div class="row rowbotons">
                                <div class="col-11"> Tamaño: {{ archivo.archivo.size / 1024 /1024 | number: '.2-2' }} MB   </div>
                                <div class="col">
                                    <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close" (click)="EliminarUno(i)"></button>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


