<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="border: 2px dashed #9999ff;">
        <div>
            <h2>Seleccione archivos</h2>
            <div appNgDropFilesDirective  [fileArchivo]= "fileArchivo"
                (mouseSobre)="ImagenElemento = $event" [ngClass]="{'Morado': ImagenElemento, 'Gris': !ImagenElemento}">
                
                <h4>Deje caer aquí los archivos</h4>
                <img mat-card-image src="../../../assets/imagenes/tipos-de-archivos-de-imagen.png" alt="Photo" style=" 
                    width: 500px;
                    height:250px;
                    margin:0px auto;
                            ">
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile style="border: 2px dashed #9999ff;">
        <div class="grid-container">
            <div>
                <h2>Cargar archivos</h2>
                <button mat-raised-button color="primary" (click)="CargarImagenes()"  [disabled]="fileArchivo.length === 0">Cargar</button>
                <button mat-raised-button color="warn" (click)="LimpiarImagenes()" >Limpiar</button>

            </div>
            <div>
               
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>




<style>
    .grid-container {
        display: grid;
        grid-template-areas:
            'main'
            'footer';
    }

    .borderImg{
        border: 2px dashed #fff;
    }




    .Morado{
        width: 550px;
            height: 300px;
            text-align:center;
        border: 2px dashed #9999ff;
 
}

.Gris{
    width: 550px;
            height: 300px;
            text-align:center;
    border: 2px dashed #999494;
  
}

</style>





  


<!--
<style>
    .mat-figure-personal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
    margin: 0;
}
</style>

-->

