<div class="card-columns"  >
  <div *ngFor="let imagen of items" >         
    <div class="card" style="border-color: red green blue yellow;">
          <img [src]="imagen.url"class="card-img-top img-rounded imagen"  alt="Imagen" (click)="Modaldato(imagen)" type="button" 
          data-bs-toggle="modal" data-bs-target="#exampleModal">
        </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" 
        type="button" (click)="Eliminar()" data-bs-dismiss="modal" aria-label="Close">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <i class="bi bi-trash2"></i>
      </div>
      <div class="modal-body" >
        <img [src]="url"class="card-img-top img-rounded" >
      </div>
    </div>
  </div>
</div>






